FRONTEND_PORT=choose-which-port-to-expose
AWS_REGION=your-aws-region
BEDROCK_KNOWLEDGE_BASE_ID=your-bedrock-knowledge-base-id
BEDROCK_MODEL_ARN=your-bedrock-inference-profile-arn
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key