FRONTEND_PORT=choose-which-port-to-expose
AWS_REGION=your-aws-region
BEDROCK_AGENT_ID=your-bedrock-agent-id
BEDROCK_AGENT_ALIAS_ID=your-bedrock-agent-alias-id
BEDROCK_AGENT_SESSION_ID=memory-assistant-session
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
